/* Small Reset */
*::before, *::after, * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Mobile */
@media (max-width: 600px) {
    .titles {
        display: flex;
        justify-content: center;
        margin-top: 50px;
    }
    h1 {
        font-family: 'Lora-Italic-VariableFont';
        font-size: 25px;
        color: #ddeded;
    
    }

    .gallery {
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-top: 25px;
      }
      
      img {
        width: 350px;
        height: auto;
      }
       .image {
        transition: transform 0.3s ease;
        margin: 20px;
      }
      
      .image:hover {
        transform: scale(1.1);
      }
    }


    /* Desktop */

@media (min-width: 600px) {

    .titles {
        display: flex;
        justify-content: center;
        margin-top: 100px;
    }
    h1 {
 
        font-family: 'Lora-Italic-VariableFont';
        font-size: 30;
        color: #ddeded;
    }

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 5px;
  margin-top: 100px;
  margin-bottom: 150px;
  margin-left: 5%;
   
  }
  
  img {
    width: 350px;
    height: auto;
  }
   .image {
    transition: transform 0.3s ease;
  }
  
  .image:hover {
    transform: scale(1.1);
  }


}