/* Small Reset */
*::before, *::after, * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Schritftart */
@font-face {
    font-family: 'Lora-Italic-VariableFont';
    src: url(../fonts/Lora/Lora-Italic-VariableFont_wght.ttf);
    font-display: auto;
}

@font-face {
    font-family: 'Montserrat-VariableFont';
    src: url(../fonts/Montserrat/Montserrat-VariableFont_wght.ttf);
    font-display: auto;
}

/* Mobile */
@media (max-width: 600px) {
  
    h1 {
        font-family: 'Lora-Italic-VariableFont';
        font-size: 25px;
    
    }
    .hero p {
        font-family: 'Montserrat-VariableFont';
        margin-top: 10px;
        margin-left: 5%;
        font-size: 18px;
    }
    
    .intro {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .intro a {
        font-family: 'Montserrat-VariableFont';
        margin-bottom: 50px;
        margin-top: 20px;
        font-size: 16px;
        color: #373737;
        text-decoration: none;
    }
    
   .hero {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 80px;
    
   }   

.artwork {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 80px;
}

img {
    width: 350px;
    height: auto;
    margin: 20px;
}

    }

/* Desktop */
@media (min-width: 600px) {

   .hero {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 120px;
    
   }   
h1 {
 
    font-family: 'Lora-Italic-VariableFont';
    font-size: 60px;
    color: #1f1f1f;


}

.intro {
    margin-top: 70px;
    margin-bottom: 100px;
}
.intro a {
    font-family: 'Montserrat-VariableFont';
    margin-bottom: 120px;
    font-size: 20px;
    color: #373737;
    transition: transform 0.2s ease; 
    cursor: pointer;
    text-decoration: none;
}

.intro a:hover {

    color: rgb(22, 22, 22);
}
.artwork {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 100px;
}

img {
    width: 350px;
    height: auto;
    filter: grayscale(100%);
    transition: filter 0.5s ease; 
    transition: transform 0.5s ease;
}

img:hover {
    filter: grayscale(0);
    transform: scale(1.1);
  }
}