/* Small Reset */
*::before, *::after, * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Schritftart */
@font-face {
    font-family: 'Lora-Italic-VariableFont';
    src: url(../fonts/Lora/Lora-Italic-VariableFont_wght.ttf);
    font-display: auto;
}

@font-face {
    font-family: 'Montserrat-VariableFont';
    src: url(../fonts/Montserrat/Montserrat-VariableFont_wght.ttf);
    font-display: auto;
}

/* Allgemein */

body {
    background-color: rgb(21, 21, 21);
}

a {
    font-family: 'Montserrat-VariableFont';
    color: #dedede;
}
/* Mobile */
@media (max-width: 600px) {
.socials, #legals {
    display: none;
}

.navigation {
     display: none;
}

.burgerMenu {
    z-index: 10;
}

.burgerIcon {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    margin-right: 5%;
    margin-top: 30px;
 
}

.burgerLinie {
    height: 4px;
    width: 35px;
    background-color: #b2b2b2;
    margin: 3px 0;
    transition: 0.4s;
}
#mobile-nav-content {
    list-style: none;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 35px;
    margin-top: 150px;
}

 .footerMobileNav {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
    margin-top: 270px;
}
.mobileNav {
    background-color: rgb(21, 21, 21);
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}

.mobileNav a {
    text-decoration: none;
    font-size: 18px;
}
.footerMobileNav a {
    text-decoration: none;
    font-size: 14px;
}

.closeIcon {
    font-size: 40px;
    font-family: 'Montserrat-VariableFont';
    position: absolute;
    right: 20px;
    top: 20px;
    color: #ddeded;
}

    /* Footer */
    footer {
        margin-bottom: 2%;
    }
    
    .footerNav a {
        text-decoration: none;
        font-family: 'Montserrat-VariableFont';
        font-size: 12px;
    }
    
    .footerNav a:hover {
        color: #ffffff;
    }
    
    .footerNav ul {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        list-style: none;
        gap: 10px;
        margin-top: 30px;
        margin-left: 5%;
    }
    
    .small {
        display: flex;
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
        margin-left: 5%;
        margin-right: 5%;
        margin-bottom: 5%;
        margin-top: 40px;
        gap: 10px;
    }
    .small li {
        list-style: none; 
        color: #dedede;
    }
    
    .small a {
        font-size: 11px;
    }
    
    .small a:hover {
        font-size: 11px;
        color: #ffffff;
    }
    
    #copy {
        color: #ddeded;
        font-family: 'Montserrat-VariableFont';
        font-size: 11px;
    }
    .footerMobileNav a {
        color: #dedede;
    }
    }


/* Desktop */
@media (min-width: 600px) {
.burgerMenu {
    display: none;
}

.navigation {
    background-color: rgb(21, 21, 21);
    position: fixed;
    top: 0;
    width: 100%;
    /* border-bottom: 0.5px solid rgb(167, 167, 167); */
    z-index: 1000;
    }

.navigation ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    list-style: none;
    gap: 40px;
    margin-top: 30px;
    margin-right: 5%;
}

.navigation a {
    text-decoration: none;
    transition: transform 0.2s ease; 
    float: right;
    padding-bottom: 30px;
    font-family: 'Montserrat-VariableFont';
}

.navigation a:hover {
    color:  rgb(255, 255, 255);
    transform: scale(1.1);
}

/* Footer */
footer {
    margin-bottom: 2%;
}

.footerNav a {
    text-decoration: none;
    font-family: 'Montserrat-VariableFont';
    font-size: 16px;
 
}

.footerNav a:hover {
    color:  rgb(255, 255, 255);
    transform: scale(1.1);
}

.footerNav ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    list-style: none;
    gap: 40px;
    margin-top: 30px;
    margin-left: 5%;
}

.small {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 120px;
    margin-bottom: 5%;
}
.small li {
    list-style: none; 
    color: #dedede;
}

.small a {
    font-size: 14px;
    color: #dedede;
    transition: transform 0.2s ease; 
}

.small a:hover {
    color:  rgb(255, 255, 255);
    transform: scale(1.1);
}

#copy {
    color: #dedede;
    font-family: 'Montserrat-VariableFont';
    font-size: 14px;
}
.socials {
    margin-right: 5%;
}

#legals {
    margin-left: 5%;
 
}

.footerMobileNav a {
    color: #dedede;
}
}